* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Helvetica;
  src: url("../../fonts/HelveticaNeueLTStd-UltLt.otf");
}
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7em;
  width: 100vw;
  background: #313140;
  z-index: 100;
}
header #bars {
  height: 2.5em;
  width: 2.5em;
  margin: 2.25em 0 0 2.25em;
  background-image: url("../../img/bars.png");
  background-size: cover;
  cursor: pointer;
}
header .cv {
  height: 2.5em;
  width: 2.5em;
  margin: 2.25em 2.25em 0 0;
  background-image: url(../../img/cv.png);
  background-size: cover;
  cursor: pointer;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 18em;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: -11em;
  left: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.sidebar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: auto;
}
.sidebar ul li {
  height: 10em;
  width: 8em;
  margin-top: 2em;
  border-bottom: thin rgba(0, 0, 255, 0.1) solid;
  font-family: Helvetica, Century Gothic, Arial;
  line-height: 4em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: #03A9F4;
}
.sidebar ul li:hover {
  border-top: thick rgba(255, 255, 255, 0) solid;
  background: rgba(255, 255, 255, 0.1);
  color: #F34335;
}
.sidebar ul li span {
  cursor: pointer;
}

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2em;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  width: 8em;
  margin: 5em auto 3em auto;
  background-image: url(../../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
}
#home .container {
  width: 9em;
  position: relative;
  margin: 20em auto;
}
#home .container .move-logo {
  position: absolute;
  left: -1.8em;
  top: -1.9em;
}
#home .container .logo-bar {
  height: .16em;
  width: 5.8em;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: expand 1500ms;
          animation: expand 1500ms;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: auto;
}
@-webkit-keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 100px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 100px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 100px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 100px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
#home .container .eben {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -.5em;
}
#home .container .hafkamp {
  vertical-align: -80%;
  margin-top: -1em;
  margin-left: 5.3em;
  overflow: hidden;
  display: inline-block;
}
#home .container .eben-text {
  margin-left: 0em;
  -webkit-animation: eben-slide 2000ms;
          animation: eben-slide 2000ms;
}
#home .container .hafkamp-text {
  margin-left: 0em;
  -webkit-animation: hafkamp-slide 2000ms;
          animation: hafkamp-slide 2000ms;
}
@-webkit-keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
#home .mouse {
  width: 2em;
  height: 3em;
  margin: 5em auto;
  border: #e6e6e6 thin solid;
  border-radius: 300px;
  display: none;
}
#home .mouse-wheel {
  width: .4em;
  height: .5em;
  margin: .5em auto;
  background: #cdcdcd;
  border-radius: 300px;
  -webkit-animation: down 4000ms;
          animation: down 4000ms;
}
@-webkit-keyframes down {
  0% {
    margin: .5em auto;
  }
  10% {
    margin: .8em auto;
  }
  20% {
    margin: .5em auto;
  }
  30% {
    margin: .8em auto;
  }
  40% {
    margin: .5em auto;
  }
  50% {
    margin: .8em auto;
  }
  60% {
    margin: .5em auto;
  }
  70% {
    margin: .8em auto;
  }
  80% {
    margin: .5em auto;
  }
  90% {
    margin: .8em auto;
  }
  100% {
    margin: .5em auto;
  }
}
@keyframes down {
  0% {
    margin: .5em auto;
  }
  10% {
    margin: .8em auto;
  }
  20% {
    margin: .5em auto;
  }
  30% {
    margin: .8em auto;
  }
  40% {
    margin: .5em auto;
  }
  50% {
    margin: .8em auto;
  }
  60% {
    margin: .5em auto;
  }
  70% {
    margin: .8em auto;
  }
  80% {
    margin: .5em auto;
  }
  90% {
    margin: .8em auto;
  }
  100% {
    margin: .5em auto;
  }
}
#home .show {
  display: block;
}

#work {
  height: 100%;
  padding-top: 7em;
  background: #7db9e8;
}
#work .fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#work .img-wrap1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#work .img-wrap1 .nis-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 55%;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  background-image: url(../../img/pink-bridge.jpg);
  background-size: cover;
}
#work .img-wrap1 .bbj-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 45%;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  background-image: url(../../img/black-tech.jpg);
  background-size: cover;
}
#work .img-wrap1 .cyan-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1em;
      -ms-flex: 1 0 1em;
          flex: 1 0 1em;
  background-image: url(../../img/pink-sky.jpg);
  background-size: cover;
}
#work .img-wrap1 .expand {
  height: 50%;
  width: 100%;
}
#work .img-wrap2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40%;
}
#work .img-wrap2 .rhino-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 45%;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  background-image: url(../../img/broken-xp.png);
  background-size: cover;
}
#work .img-wrap2 .goldway-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 55%;
      -ms-flex: 1 0 55%;
          flex: 1 0 55%;
  background-image: url(../../img/broken-xp.png);
  background-size: cover;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
}

.fp-tableCell {
  z-index: -2000;
}
