* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Helvetica;
  src: url("../../fonts/HelveticaNeueLTStd-UltLt.otf");
}
.in {
  display: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7em;
  width: 100vw;
  border-bottom: thin white solid;
  z-index: 100;
}
header #bars {
  height: 2.5em;
  width: 3em;
  margin: 2.25em 0 0 2.25em;
  /******** Exit Icon ********/
  /******** Burger Icon ********/
}
header #bars .menu {
  padding-left: 2.5em;
  line-height: 1.7em;
  font-size: 22px;
  font-family: Century Gothic;
  letter-spacing: 1px;
  color: #fafafa;
}
header #bars input {
  display: none;
}
header #bars label {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
  background: transparent;
}
header #bars label:before,
header #bars .burger-wrapper input:checked + label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
}
header #bars label:before {
  -webkit-animation: animationOneReverse 1s ease forwards;
          animation: animationOneReverse 1s ease forwards;
}
@-webkit-keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animationOneReverse {
  0% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  25% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
header #bars input:checked + label:before {
  -webkit-animation: animationOne 1s ease forwards;
          animation: animationOne 1s ease forwards;
}
@-webkit-keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@keyframes animationOne {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
header #bars label:after,
header #bars input:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
}
header #bars label:after {
  -webkit-animation: animationTwoReverse 1s ease forwards;
          animation: animationTwoReverse 1s ease forwards;
}
@-webkit-keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  25% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animationTwoReverse {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  25% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
header #bars input:checked + label:after {
  -webkit-animation: animationTwo 1s ease forwards;
          animation: animationTwo 1s ease forwards;
}
@-webkit-keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes animationTwo {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
header #bars label .burger:before {
  content: '';
  position: absolute;
  top: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
  -webkit-animation: animationBurgerTopReverse 1s ease forwards;
          animation: animationBurgerTopReverse 1s ease forwards;
}
@-webkit-keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationBurgerTopReverse {
  0%, 50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
header #bars input:checked + label .burger:before {
  -webkit-animation: animationBurgerTop 1s ease forwards;
          animation: animationBurgerTop 1s ease forwards;
}
@-webkit-keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}
@keyframes animationBurgerTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
    opacity: 0;
  }
}
header #bars label .burger:after {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  background: #fafafa;
  -webkit-animation: animationBurgerBottomReverse 1s ease forwards;
          animation: animationBurgerBottomReverse 1s ease forwards;
}
@-webkit-keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animationBurgerBottomReverse {
  0%, 50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
  51% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
header #bars input:checked + label .burger:after {
  -webkit-animation: animationBurgerBottom 1s ease forwards;
          animation: animationBurgerBottom 1s ease forwards;
}
@-webkit-keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
}
@keyframes animationBurgerBottom {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 1;
  }
  51%, 100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    opacity: 0;
  }
}
header .cv {
  margin: auto 2em;
  font-family: Helvetica, Century Gothic, Arial;
  font-size: 2em;
  letter-spacing: .3em;
  color: white;
  cursor: pointer;
}

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}

.sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 18em;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 7em;
  left: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.sidebar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: auto;
}
.sidebar ul li {
  height: 10em;
  width: 8em;
  margin-top: 2em;
  border-bottom: thin rgba(0, 0, 255, 0.1) solid;
  font-family: Helvetica, Century Gothic, Arial;
  line-height: 4em;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: #03A9F4;
}
.sidebar ul li:hover {
  border-top: thin rgba(255, 255, 255, 0) solid;
  background: rgba(255, 255, 255, 0.1);
  color: #F34335;
}
.sidebar ul li span {
  cursor: pointer;
}

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2em;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  width: 8em;
  margin: 5em auto 3em auto;
  background-image: url(../../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
  background-image: url("../../img/space-repeating1.png");
}
#home .container {
  width: 9em;
  position: relative;
  margin: 20em auto;
}
#home .container .move-logo {
  position: absolute;
  left: -1.8em;
  top: -1.9em;
}
#home .container .logo-bar {
  height: .16em;
  width: 5.8em;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: expand 1500ms;
          animation: expand 1500ms;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: auto;
}
#home .container .hide {
  display: hide;
}
@-webkit-keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 100px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 100px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 100px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 100px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
#home .container .eben {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -.5em;
}
#home .container .hafkamp {
  vertical-align: -80%;
  margin-top: -1em;
  margin-left: 5.3em;
  overflow: hidden;
  display: inline-block;
}
#home .container .eben-text {
  margin-left: 0em;
  -webkit-animation: eben-slide 2000ms;
          animation: eben-slide 2000ms;
}
#home .container .hafkamp-text {
  margin-left: 0em;
  -webkit-animation: hafkamp-slide 2000ms;
          animation: hafkamp-slide 2000ms;
}
@-webkit-keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
#skills {
  background: -webkit-radial-gradient(center, ellipse cover, #474747 0%, #1c1c1c 100%);
  text-align: center;
  padding-top: 11em;
}
#skills .skills-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#skills .tools-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#skills p {
  margin-bottom: .5em;
}
#skills span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  color: white;
  font-size: 2em;
  font-family: Helvetica, Century Gothic, Arial;
}
#skills img {
  margin: 3em 0 2em;
}
#skills #Animation-front {
  width: 15em;
  height: 2em;
  margin: 4em auto;
  font: normal 40px/50px 'Raleway', sans-serif;
  color: #999;
}
#skills #Animation-front b {
  overflow: hidden;
  position: relative;
  height: 1.4em;
  line-height: 1.7em;
  float: left;
}
#skills #Animation-front span {
  height: 50px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: 85px;
}
#skills #Animation-front .moving-text {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  -webkit-animation: move 6s;
          animation: move 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: 65px;
  letter-spacing: 2px;
}
@-webkit-keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  60% {
    top: -210px;
  }
  80% {
    top: -10px;
  }
  80% {
    top: -10px;
  }
}
@keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  60% {
    top: -210px;
  }
  80% {
    top: -10px;
  }
  80% {
    top: -10px;
  }
}
#work {
  height: 100%;
  padding-top: 7em;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
}
#work h1 {
  margin: .5em auto 1.4em;
}
#work .fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#work .slick-center .slide-logo {
  color: #FFF;
}
#work .slick-center .slide-logo:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98vw;
  line-height: 0em;
  margin: 3em auto;
  padding: 0 1em;
  text-align: center;
}
#work .slider-nav:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav .slide-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 14em;
      -ms-flex: 1 0 14em;
          flex: 1 0 14em;
  padding: 1.5em 0;
  background: rgba(255, 255, 255, 0.1);
}
#work .slider-nav .slide-logo img {
  margin: auto;
}
#work .slick-slide {
  opacity: .2;
}
#work .slick-slide:focus {
  outline: 0;
}
#work .slick-center {
  display: block;
  max-width: 12% !important;
  max-height: 20% !important;
  opacity: 1;
}
#work .slick-next {
  background-size: cover;
}
#work .slick-prev {
  background-size: cover;
}
#work .slider-for {
  width: 98vw;
  max-width: 75em;
  height: 35em;
  margin: auto;
  text-align: center;
}
#work .slider-for .contain-1 {
  padding-bottom: 1em;
}
#work .slider-for .contain-1 .goldway {
  margin: auto;
  height: 37em;
  width: 98vw;
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url(../../img/goldway.png);
}
#work .slider-for .contain-1 span {
  padding: .5em;
  font-family: Helvetica, Century Gothic, Arial;
  font-size: 1.8em;
  letter-spacing: .1em;
  line-height: 1.5em;
  color: white;
}
#work .slider-for .contain-2 .cyanfox {
  margin: auto;
  height: 37em;
  width: 98vw;
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url(../../img/cyanfox1.png);
}
#work .slider-for .contain-3 .nis {
  margin: auto;
  height: 37em;
  width: 98vw;
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url(../../img/nis2.png);
}
#work .slider-for .contain-4 .bbj {
  margin: auto;
  height: 37em;
  width: 98vw;
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url(../../img/bb22j.png);
}
#work .slider-for .contain-6 .rhino {
  margin: auto;
  height: 37em;
  width: 98vw;
  position: relative;
  background-size: cover;
  background-position: 50% 0%;
  background-image: url(../../img/rhino.png);
}
#work .dots {
  width: 100%;
  height: 3em;
  position: absolute;
  top: 65em;
}
#work .dots img {
  margin: auto;
}

.fp-tableCell {
  vertical-align: top;
}

#contact {
  background: -webkit-linear-gradient(45deg, #fba6e1 0%, #fd89d7 72%, #ff7cd8 100%);
  text-align: center;
}
#contact h1 {
  margin: 3.5em auto 0;
}
#contact p {
  padding: 1em 0;
}
#contact .contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}
#contact .message, #contact .contact, #contact .name, #contact .form-footer, #contact .form-header, #contact textarea {
  clear: both;
  overflow: hidden;
}
#contact .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#contact .name .first, #contact .name .last {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1em;
      -ms-flex: 1 0 1em;
          flex: 1 0 1em;
  height: 2.5em;
  text-indent: 1em;
  border: thin solid rgba(0, 0, 0, 0.1);
  font-size: 1.7em;
}
#contact .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#contact .contact .email {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1em;
      -ms-flex: 1 0 1em;
          flex: 1 0 1em;
  height: 2.5em;
  text-indent: 1em;
  line-height: 50px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.7em;
}
#contact .message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#contact .message textarea {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1em;
      -ms-flex: 1 0 1em;
          flex: 1 0 1em;
  height: 10em;
  text-indent: 1em;
  line-height: 50px;
  font-size: 1.7em;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#contact .form-footer {
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  height: 5em;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
#contact .form-footer button {
  width: 9em;
  height: 3em;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 1em;
  color: white;
  float: right;
  border-bottom: 3px solid #c0392b;
  -webkit-transition: all linear .2s;
          transition: all linear .2s;
  font-size: 1em;
}
#contact .form-footer button:hover {
  background: #c0392b;
}
#contact .form-footer button:focus {
  outline: none;
}
#contact .first:focus, #contact .last:focus, #contact .email:focus, #contact textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
}

.fp-tableCell {
  z-index: -2000;
}

h1 {
  font-size: 3.5em;
  font-family: Helvetica, Century Gothic, Arial;
  color: white;
}

p {
  margin-bottom: 1.5em;
  padding: 2em 4em;
  font-family: Helvetica, Century Gothic, Arial;
  font-size: 2em;
  letter-spacing: .1em;
  line-height: 1.6em;
  color: white;
}
