* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Helvetica;
  src: url("../../fonts/HelveticaNeueLTStd-UltLt.otf");
}
.in {
  display: none;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5em;
  width: 100vw;
  border-bottom: thin white solid;
  z-index: 100;
}
header #bars {
  height: 2.5em;
  width: 1.5em;
  padding: .6em 1em;
}
header #bars *,
header #bars *:after,
header #bars *:before {
  box-sizing: border-box;
}
header #bars html,
header #bars body {
  width: 100%;
  max-width: 650px;
  background-color: #2a2a2a;
}
header #bars .burger-button {
  user-select: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  background-clip: content-box;
  padding: 9.5px 0;
  position: relative;
}
header #bars .burger-button:after, header #bars .burger-button:before {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: inherit;
  position: absolute;
}
header #bars .burger-button:after {
  transform: translate3d(0, 9.5px, 0);
}
header #bars .burger-button:before {
  transform: translate3d(0, -9.5px, 0);
}
header #bars .goto-burger {
  animation: gotoBurger-all 0.3s ease-out forwards;
}
header #bars .goto-burger:before {
  animation: gotoBurger-before 0.3s ease-out forwards;
}
header #bars .goto-burger:after {
  animation: gotoBurger-after 0.3s ease-out forwards;
}
@keyframes gotoBurger-all {
  0% {
    transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg);
    background-color: white;
  }
}
@keyframes gotoBurger-before {
  0% {
    transform: translate3d(0, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -9.5px, 0);
  }
}
@keyframes gotoBurger-after {
  0% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  60% {
    transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    transform: translate3d(0, 9.5px, 0) rotate(180deg);
  }
}
header #bars .goto-cross {
  animation: gotoCross-all 0.3s ease-out forwards;
}
header #bars .goto-cross:before {
  animation: gotoCross-before 0.3s ease-out forwards;
}
header #bars .goto-cross:after {
  animation: gotoCross-after 0.3s ease-out forwards;
}
@keyframes gotoCross-before {
  0% {
    transform: translate3d(0, -9.5px, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes gotoCross-after {
  0% {
    transform: translate3d(0, 9.5px, 0);
  }
  30% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
}
@keyframes gotoCross-all {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: white;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
}
header .cv {
  margin: auto 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  letter-spacing: .5em;
  color: white;
  cursor: pointer;
}

.sidebar {
  flex-direction: column;
  width: 100vw;
  height: 7em;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 2.5em;
  left: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.sidebar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
}
.sidebar ul li {
  height: 10em;
  width: 8em;
  margin-top: 2em;
  border-bottom: thin rgba(0, 0, 255, 0.1) solid;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 4em;
  text-align: center;
  font-size: .5em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: #03A9F4;
}
.sidebar ul li:hover {
  border-top: thin rgba(255, 255, 255, 0) solid;
  background: rgba(255, 255, 255, 0.1);
  color: #F34335;
}
.sidebar ul li span {
  cursor: pointer;
}

.logo {
  flex: 0 0 2em;
  width: 8em;
  margin: 5em auto 3em auto;
  background-image: url(../../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#home {
  display: flex;
  flex-direction: column;
  z-index: -2000;
}
#home .splash {
  z-index: -3000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/home-bg.jpg");
  background-position: 18% 60%;
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4);
}
#home .fp-tableCell {
  display: flex;
  flex-direction: column;
}
#home .index-wrap {
  height: 40em;
  flex-direction: column;
}
#home .index-wrap .in-wrap {
  flex: 1 0 5%;
  display: flex;
  flex-direction: column;
}
#home .index-wrap .in-wrap h2 {
  text-align: center;
  line-height: 2em;
  padding: 3em;
  font-size: .7em;
}
#home .index-wrap .in-wrap h2:nth-child(3) {
  display: none;
}
#home .index-wrap .in-wrap .icon-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7em;
  max-width: 3em;
  margin-top: 1em;
  margin-left: 1em;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap {
  display: flex;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap div {
  flex: 1 0 20%;
  min-width: 3em;
  max-width: 3em;
  height: 2em;
  text-align: center;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap div img {
  padding: .5em 0 0 0;
  height: 1.25em;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap p {
  position: absolute;
  margin-top: -1.4em;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap p span {
  display: none;
}
#home .index-wrap .in-wrap .icon-text .flex-wrap:first-child {
  border-bottom: thin solid white;
  padding-bottom: 1em;
}
#home .index-wrap .img-stacked {
  flex: 1 0 30%;
  min-width: 150%;
  background-image: url("../../img/cyanfox-flat.png");
  background-size: contain;
  background-position: 70% 10%;
  background-repeat: no-repeat;
  transform: rotate(350deg);
}
#home .container {
  height: 0;
  width: 8em;
  position: relative;
  margin: 7em auto;
}
#home .container .move-logo {
  position: absolute;
  left: -3.2em;
  top: -1.7em;
}
#home .container .move-logo img {
  height: 1.5em;
}
#home .container .bar-wrap {
  padding-right: 2.7em;
}
#home .container .logo-bar {
  height: 2px;
  width: 3.2em;
  background-color: #fff;
  z-index: 999;
  transform: rotate(135deg);
  animation: expand 1500ms;
  transform-origin: 50% 50%;
  margin: auto;
}
@keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    transform: rotate(90deg);
  }
  50% {
    width: 4em;
    transform: rotate(90deg);
  }
  100% {
    width: 4em;
    transform: rotate(135deg);
  }
}
#home .container .eben {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -1.4em;
  margin-left: 2em;
}
#home .container .hafkamp {
  vertical-align: -80%;
  margin-top: .3em;
  margin-left: 5.3em;
  overflow: hidden;
  display: inline-block;
}
#home .container .eben-text {
  margin-left: 0em;
  animation: eben-slide 2000ms;
}
#home .container .hafkamp-text {
  margin-left: 0em;
  animation: hafkamp-slide 2000ms;
}
@keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
#home .mouse {
  width: 2em;
  height: 3em;
  position: absolute;
  top: 13em;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  border: #e6e6e6 thin solid;
  border-radius: 300px;
  display: none;
}
#home .mouse-wheel {
  width: .4em;
  height: .5em;
  margin: .5em auto;
  background: #cdcdcd;
  border-radius: 300px;
  animation: down 4000ms;
}
@keyframes down {
  0% {
    margin: .5em auto;
  }
  10% {
    margin: .8em auto;
  }
  20% {
    margin: .5em auto;
  }
  30% {
    margin: .8em auto;
  }
  40% {
    margin: .5em auto;
  }
  50% {
    margin: .8em auto;
  }
  60% {
    margin: .5em auto;
  }
  70% {
    margin: .8em auto;
  }
  80% {
    margin: .5em auto;
  }
  90% {
    margin: .8em auto;
  }
  100% {
    margin: .5em auto;
  }
}
@media only screen and (min-device-width: 20em) and (max-device-width: 21em) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #home .mouse {
    display: none;
  }
  #home .index-wrap {
    height: 35em;
  }
  #home .index-wrap .img-stacked {
    background-position: 0% 30%;
  }
  #home .index-wrap .in-wrap {
    margin-top: -3em;
  }
}
@media (min-width: 46em) {
  h2 {
    text-align: center;
    line-height: 2em;
    padding: 3em;
    font-size: .8em;
  }
}
@media (min-width: 110em) {
  #home .index-wrap {
    height: 45em;
    flex-direction: row;
    margin-top: 2em;
  }
  #home .index-wrap .in-wrap {
    padding-top: 7em;
  }
  #home .index-wrap .in-wrap h2:nth-child(2) {
    display: none;
  }
  #home .index-wrap .in-wrap h2:nth-child(3) {
    display: block;
    margin-left: 4em;
    padding: 1em;
    text-align: left;
    line-height: 3em;
    font-size: .8em;
  }
  #home .index-wrap .in-wrap .icon-text {
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    max-width: 40em;
    margin-top: 23em;
    margin-left: 0;
    padding-left: 3em;
  }
  #home .index-wrap .in-wrap .icon-text .flex-wrap div {
    height: 3em;
    margin-right: 1em;
    border-right: thin solid white;
  }
  #home .index-wrap .in-wrap .icon-text .flex-wrap div img {
    height: 30px;
    padding: .5em 2em 0 0;
    line-height: 3em;
  }
  #home .index-wrap .in-wrap .icon-text .flex-wrap p {
    position: relative;
    line-height: 3em;
    margin-top: 0;
    padding: 0 0;
  }
  #home .index-wrap .in-wrap .icon-text .flex-wrap p span {
    display: block;
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: .7em;
    letter-spacing: .15em;
  }
  #home .index-wrap .in-wrap .icon-text .flex-wrap:first-child {
    border-bottom: 0;
  }
  #home .index-wrap .img-stacked {
    min-width: 0%;
    background-position: 120% 100%;
  }
  #home .container {
    width: 9em;
    position: relative;
    margin: 9em auto 1em;
  }
  #home .container .move-logo img {
    height: 2.41em;
  }
  #home .container .move-logo {
    position: absolute;
    left: -1.8em;
    top: -1.9em;
  }
  #home .container .bar-wrap {
    padding-right: 0;
  }
  #home .container .logo-bar {
    height: .16em;
    width: 5.8em;
    background-color: #fff;
    z-index: 999;
    transform: rotate(135deg);
    animation: expand 1500ms;
    transform-origin: 50% 50%;
    margin: auto;
  }
  @keyframes expand {
    0% {
      width: 2px;
    }
    25% {
      width: 2px;
    }
    30% {
      width: 2px;
      transform: rotate(90deg);
    }
    50% {
      width: 100px;
      transform: rotate(90deg);
    }
    100% {
      width: 100px;
      transform: rotate(135deg);
    }
  }
  #home .container .eben {
    overflow: hidden;
    display: inline-block;
    margin-bottom: -.5em;
    margin-left: 0;
  }
  #home .container .hafkamp {
    vertical-align: -80%;
    margin-top: -1em;
    margin-left: 5.3em;
    overflow: hidden;
    display: inline-block;
  }
  #home .container .eben-text {
    margin-left: 0em;
    animation: eben-slide 2000ms;
  }
  #home .container .hafkamp-text {
    margin-left: 0em;
    animation: hafkamp-slide 2000ms;
  }
  @keyframes eben-slide {
    0% {
      margin-left: 4em;
      opacity: 0;
    }
    60% {
      margin-left: 4em;
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      left: 0;
    }
  }
  @keyframes hafkamp-slide {
    0% {
      margin-left: -8em;
      opacity: 0;
    }
    60% {
      margin-left: -8em;
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      left: 0;
    }
  }
}
#skills {
  background: radial-gradient(ellipse at center, #474747 0%, #1c1c1c 100%);
  text-align: center;
  padding-top: 4em;
}
#skills .fp-tableCell {
  display: flex;
  flex-direction: column;
}
#skills .skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#skills .tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#skills p {
  margin-bottom: .3em;
}
#skills span {
  flex: 1 0 25%;
  color: white;
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#skills img {
  margin: 1.5em 0;
}
#skills button {
  margin: 6em;
  padding: .8em 1.4em;
  color: white;
  background: linear-gradient(to bottom, #2c2c2c 0%, #131313 100%);
  border: #474747 thin solid;
  outline: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: .2em;
  font-size: 12px;
  cursor: pointer;
}
#skills #Animation-front {
  display: none;
  width: 5.5em;
  height: 2em;
  margin: .5em auto;
  font: normal 40px/50px 'Raleway', sans-serif;
  color: #999;
}
#skills #Animation-front b {
  overflow: hidden;
  position: relative;
  height: 1.4em;
  line-height: 1.7em;
  float: left;
}
#skills #Animation-front .ima {
  height: 50px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: .8em;
}
#skills #Animation-front .moving-text {
  margin-top: -.2em;
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  animation: move 6s;
  animation-iteration-count: infinite;
  font-size: .5em;
  letter-spacing: 2px;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  60% {
    top: -210px;
  }
  80% {
    top: 0px;
  }
  80% {
    top: 0px;
  }
}
@media (min-width: 46em) {
  #skills p {
    margin-bottom: 1em;
  }
  #skills img {
    margin: 2em;
  }
  #skills #Animation-front {
    width: 5.5em;
    height: 2em;
    margin: 1em auto;
  }
}
@media (min-width: 70em) {
  #skills span {
    font-size: 1.2em;
    letter-spacing: .15em;
  }
  #skills img {
    margin: 2em;
    height: 50px;
  }
  #skills #Animation-front {
    width: 5.5em;
    height: 2em;
    margin: 1em auto;
  }
  #skills .ima {
    font-size: 1em;
    letter-spacing: 0;
  }
}
@media (min-width: 110em) {
  #skills {
    padding: 4em 15em 0;
  }
  #skills p {
    margin: 3em 0 3em;
  }
  #skills span {
    font-size: 1.2em;
    letter-spacing: .15em;
  }
  #skills img {
    margin: 2em;
    height: 50px;
  }
  #skills #Animation-front {
    margin: 2.5em auto;
  }
  #skills .ima {
    font-size: 1em;
    letter-spacing: 0;
  }
}
.fp-section {
  height: 100vh !important;
}

#work {
  height: 100%;
  padding-top: 4em;
  background: linear-gradient(135deg, #1e5799 0%, #7db9e8 100%);
}
#work h1 {
  margin: .6em auto 1em;
}
#work .big-dev-p {
  display: none;
}
#work .fp-tableCell {
  display: flex;
  flex-direction: column;
}
#work .slick-center .slide-logo {
  color: #FFF;
}
#work .slick-center .slide-logo:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav {
  display: none;
  justify-content: space-between;
  width: 98vw;
  line-height: 0em;
  margin: 3em auto 2em;
  padding: 0 1em;
  text-align: center;
}
#work .slider-nav:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav .slide-logo {
  flex: 1 0 14em;
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.1);
}
#work .slider-nav .slide-logo img {
  margin: auto;
}
#work .slick-slide {
  opacity: .2;
}
#work .slick-slide:focus {
  outline: 0;
}
#work .slick-center {
  display: block;
  max-width: 12% !important;
  max-height: 20% !important;
  opacity: 1;
}
#work .slider-for {
  width: 98vw;
  max-width: 75em;
  height: 28em;
  margin: auto;
  text-align: center;
}
#work .slider-for .goldway-2 {
  display: none;
}
#work .slider-for .cyanfox-2 {
  display: none;
}
#work .slider-for .nis-2 {
  display: none;
}
#work .slider-for .bbj-2 {
  display: none;
}
#work .slider-for .rhino-2 {
  display: none;
}
@media only screen and (max-width: 45.999em) {
  #work .slider-for #img-place {
    margin: auto;
    height: 14em;
    width: 98vw;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
}
#work .slider-for .dots {
  height: 1em;
  width: 100%;
  position: absolute;
  top: 24em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#work .slider-for .slick-slide {
  position: relative;
  height: 100vh;
}
#work .slider-for .contain-1 .dots {
  background-image: url(../../img/dots-1.png);
}
#work .slider-for .contain-1 .goldway {
  background-image: url(../../img/goldway.png);
}
#work .slider-for .contain-2 .dots {
  background-image: url(../../img/dots-2.png);
}
#work .slider-for .contain-2 .cyanfox {
  background-image: url(../../img/cyanfox1.png);
}
#work .slider-for .contain-3 .dots {
  background-image: url(../../img/dots-3.png);
}
#work .slider-for .contain-3 .nis {
  background-image: url(../../img/nis2.png);
}
#work .slider-for .contain-4 .dots {
  background-image: url(../../img/dots-4.png);
}
#work .slider-for .contain-4 .bbj {
  background-image: url(../../img/bb22j.png);
}
#work .slider-for .contain-6 .dots {
  background-image: url(../../img/dots-5.png);
}
#work .slider-for .contain-6 .rhino {
  background-image: url(../../img/rhino.png);
}
#work .slider-for .goldway-1 {
  display: none;
}
#work .slider-for .cyanfox-1 {
  display: none;
}
#work .slider-for .nis-1 {
  display: none;
}
#work .slider-for .bbj-1 {
  display: none;
}
#work .slider-for .rhino-1 {
  display: none;
}

@media (min-width: 46em) {
  #work {
    padding-top: 2em;
  }
  #work p {
    display: none;
  }
  #work .big-dev-p {
    display: block;
    padding: 0em 2em 1em;
  }
  #work .slider-nav {
    display: flex;
    width: 75vw;
  }
  #work .slider-nav .slide-logo {
    padding: 1.1em 0;
  }
  #work .slider-nav .slide-logo img {
    height: 22px;
  }
  #work .slider-nav .slick-next {
    right: -60px;
    background-image: url(../../img/arrow-right-thin.png);
    background-size: cover;
  }
  #work .slider-nav .slick-prev {
    left: -60px;
    background-image: url(../../img/arrow-left-thin.png);
    background-size: cover;
  }
  #work .slider-nav .slick-slider .slick-arrow {
    padding: 0 2em;
  }
  #work #img-place {
    margin: auto;
    height: 24.5em;
    width: 70vw;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
  #work .slider-for .dots {
    top: 34em;
    height: 1em;
  }
  #work .contain-1 .dots {
    background-image: url(../../img/dots-1.png);
  }
  #work .contain-2 .dots {
    background-image: url(../../img/dots-2.png);
  }
  #work .contain-3 .dots {
    background-image: url(../../img/dots-3.png);
  }
  #work .contain-4 .dots {
    background-image: url(../../img/dots-4.png);
  }
  #work .contain-6 .dots {
    background-image: url(../../img/dots-5.png);
  }
}
@media (min-width: 70em) {
  #work {
    padding-top: 2em;
  }
  #work p {
    padding: 4em 0em;
  }
  #work #img-place {
    margin: auto;
    height: 22em;
    width: 45%;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
  #work .dots {
    top: 35em;
  }
  #work .slider-nav {
    width: 55vw;
  }
  #work .slider-for {
    max-width: 80%;
    height: 35em;
  }
  #work .slider-for .d-img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #work .slider-for .d-img-wrap .goldway-2 {
    display: block;
    background-image: url(../../img/goldway.png);
  }
  #work .slider-for .d-img-wrap .cyanfox-2 {
    display: block;
    background-image: url(../../img/cyanfox1.png);
  }
  #work .slider-for .d-img-wrap .nis-2 {
    display: block;
    background-image: url(../../img/nis2.png);
  }
  #work .slider-for .d-img-wrap .bbj-2 {
    display: block;
    background-image: url(../../img/bb22j.png);
  }
  #work .slider-for .d-img-wrap .rhino-2 {
    display: block;
    background-image: url(../../img/rhino.png);
  }
}
@media (min-width: 110em) {
  #work h1 {
    margin: 1.2em auto 1.8em;
  }
  #work p {
    margin: 0 0 3.5em;
  }
  #work .slider-nav {
    margin-top: -1px;
  }
  #work .slider-for {
    max-width: 80%;
    height: 35em;
  }
  #work .slider-for .dots {
    top: 47em;
  }
  #work .slider-for .d-img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #work .slider-for .d-img-wrap #img-place:nth-child(2) {
    margin: auto;
    height: 30em;
    width: 55%;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
    box-shadow: 0px -25px 72px -39px rgba(0, 0, 0, 0.75);
  }
  #work .slider-for .d-img-wrap #img-place:nth-child(odd) {
    height: 15em;
    width: 25%;
    box-shadow: 0px -49px 89px -58px rgba(0, 0, 0, 0.75);
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
  }
  #work .slider-for .d-img-wrap .goldway-1 {
    display: block;
    background-image: url(../../img/goldway.png);
  }
  #work .slider-for .d-img-wrap .cyanfox-1 {
    display: block;
    background-image: url(../../img/cyanfox1.png);
  }
  #work .slider-for .d-img-wrap .nis-1 {
    display: block;
    background-image: url(../../img/nis2.png);
  }
  #work .slider-for .d-img-wrap .bbj-1 {
    display: block;
    background-image: url(../../img/bb22j.png);
  }
  #work .slider-for .d-img-wrap .rhino-1 {
    display: block;
    background-image: url(../../img/rhino.png);
  }
}
.fp-tableCell {
  vertical-align: top;
}

#contact {
  background: linear-gradient(45deg, #74cfc0 0%, #74cfc0 17%, #49a5bf 100%);
  text-align: center;
  padding-top: 4em;
}
#contact p {
  display: none;
}
#contact h1 {
  margin: 0 auto 1em;
  color: #b9ecfa;
  font-family: sofia, cursive;
  font-size: 2em;
  font-weight: bold;
}
#contact a {
  text-decoration: none;
}
#contact .message {
  width: 95vw;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
}
#contact textarea {
  height: 5em;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #b9ecfa;
  outline: none;
  color: #b9ecfa;
  font-size: 1em;
  resize: none;
}
#contact textarea:focus {
  border-bottom: 1px solid #04db9b;
}
#contact input[type="text"] {
  padding: .6em 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #b9ecfa;
  outline: none;
  color: #b9ecfa;
  font-size: 1em;
}
#contact input[type="text"]:focus {
  border-bottom: 1px solid #04db9b;
}
#contact input[type="submit"] {
  margin-top: 1em;
  background: #025368;
  border: 0;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
#contact input[type="submit"]:hover {
  background: #04db9b;
}
#contact ::-webkit-input-placeholder {
  color: #b9ecfa;
  font-size: 12px;
}
#contact [placeholder]:focus::-webkit-input-placeholder {
  color: #6cfcd1;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
#contact .me-links {
  width: 20em;
  margin: 2em auto;
  display: flex;
}
#contact .me-links .social-icons {
  flex: 1 0 65%;
  padding-top: 1.2em;
  display: flex;
  justify-content: space-around;
}
#contact .me-links .social-icons img {
  height: 1.5em;
  flex: 1 0 1;
}
#contact span {
  color: white;
  font-family: arial;
  font-size: .5em;
}

@media (min-width: 46em) {
  #contact h1 {
    margin: 1em auto 1em;
    font-size: 3em;
  }
  #contact .message {
    width: 45em;
    margin: 3em auto 5em;
  }
  #contact .message input[type="text"] {
    padding: 1.25em 0;
  }
  #contact .message textarea {
    height: 10em;
  }
}
@media (min-width: 110em) {
  #contact p {
    display: block;
    margin-top: 7em;
    color: white;
  }
}
@font-face {
  font-family: sofia;
  src: url(../../fonts/Sofia-Regular.otf);
}
main {
  display: flex;
  flex-direction: column;
  z-index: -2000;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.fadeIn {
  display: flex;
}

.fp-tableCell {
  z-index: -2000;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  display: none;
  background: white;
}

h1 {
  font-size: 1.2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  color: white;
}

h2 {
  font-size: .9em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
  letter-spacing: .12em;
  color: white;
}

p {
  margin-bottom: 1.5em;
  padding: 2em 2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1.6em;
  color: white;
}

.fp-controlArrow {
  display: none;
}

@media (min-width: 46em) {
  h1 {
    font-size: 1.3em;
    margin: 1em auto 1em;
  }

  p {
    font-size: .9em;
    letter-spacing: .15em;
  }
}
@media (min-width: 70em) {
  h1 {
    font-size: 1.6em;
    margin: 1em auto 1.4em;
  }

  .in {
    display: none;
  }

  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    display: block;
  }
}
@media (min-width: 110em) {
  h1 {
    font-size: 1.6em;
    margin: 1em auto 1em;
    letter-spacing: .1em;
  }

  p {
    font-size: .9em;
    letter-spacing: .15em;
  }
}
#menu {
  width: 1em;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
}

svg {
  margin: 3em auto;
  background: transparent;
}

.axis line,
.axis path {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.graph-bars {
  border-radius: 1em;
  box-shadow: 29px 32px 62px -40px rgba(0, 0, 0, 0.75);
}

.x-axis {
  padding: 2em;
}
