* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Helvetica;
  src: url("../../fonts/HelveticaNeueLTStd-UltLt.otf");
}
.in {
  display: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5em;
  width: 100vw;
  border-bottom: thin white solid;
  z-index: 100;
}
header #bars {
  height: 2.5em;
  width: 1.5em;
  padding: .6em 1em;
}
header #bars *,
header #bars *:after,
header #bars *:before {
  box-sizing: border-box;
}
header #bars html,
header #bars body {
  width: 100%;
  max-width: 650px;
  background-color: #2a2a2a;
}
header #bars .burger-button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  background-clip: content-box;
  padding: 9.5px 0;
  position: relative;
}
header #bars .burger-button:after, header #bars .burger-button:before {
  display: block;
  content: "";
  width: 20px;
  height: 1px;
  background-color: inherit;
  position: absolute;
}
header #bars .burger-button:after {
  -webkit-transform: translate3d(0, 9.5px, 0);
          transform: translate3d(0, 9.5px, 0);
}
header #bars .burger-button:before {
  -webkit-transform: translate3d(0, -9.5px, 0);
          transform: translate3d(0, -9.5px, 0);
}
header #bars .goto-burger {
  -webkit-animation: gotoBurger-all 0.3s ease-out forwards;
          animation: gotoBurger-all 0.3s ease-out forwards;
}
header #bars .goto-burger:before {
  -webkit-animation: gotoBurger-before 0.3s ease-out forwards;
          animation: gotoBurger-before 0.3s ease-out forwards;
}
header #bars .goto-burger:after {
  -webkit-animation: gotoBurger-after 0.3s ease-out forwards;
          animation: gotoBurger-after 0.3s ease-out forwards;
}
@-webkit-keyframes gotoBurger-all {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(315deg);
            transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(720deg);
            transform: translate3d(0, 0, 0) rotate(720deg);
    background-color: white;
  }
}
@keyframes gotoBurger-all {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(315deg);
            transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(720deg);
            transform: translate3d(0, 0, 0) rotate(720deg);
    background-color: white;
  }
}
@-webkit-keyframes gotoBurger-before {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -9.5px, 0);
            transform: translate3d(0, -9.5px, 0);
  }
}
@keyframes gotoBurger-before {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -9.5px, 0);
            transform: translate3d(0, -9.5px, 0);
  }
}
@-webkit-keyframes gotoBurger-after {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
            transform: translate3d(0, 0, 0) rotate(90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
            transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 9.5px, 0) rotate(180deg);
            transform: translate3d(0, 9.5px, 0) rotate(180deg);
  }
}
@keyframes gotoBurger-after {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
            transform: translate3d(0, 0, 0) rotate(90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
            transform: translate3d(0, 0, 0) rotate(180deg);
  }
  100% {
    -webkit-transform: translate3d(0, 9.5px, 0) rotate(180deg);
            transform: translate3d(0, 9.5px, 0) rotate(180deg);
  }
}
header #bars .goto-cross {
  -webkit-animation: gotoCross-all 0.3s ease-out forwards;
          animation: gotoCross-all 0.3s ease-out forwards;
}
header #bars .goto-cross:before {
  -webkit-animation: gotoCross-before 0.3s ease-out forwards;
          animation: gotoCross-before 0.3s ease-out forwards;
}
header #bars .goto-cross:after {
  -webkit-animation: gotoCross-after 0.3s ease-out forwards;
          animation: gotoCross-after 0.3s ease-out forwards;
}
@-webkit-keyframes gotoCross-before {
  0% {
    -webkit-transform: translate3d(0, -9.5px, 0);
            transform: translate3d(0, -9.5px, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes gotoCross-before {
  0% {
    -webkit-transform: translate3d(0, -9.5px, 0);
            transform: translate3d(0, -9.5px, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes gotoCross-after {
  0% {
    -webkit-transform: translate3d(0, 9.5px, 0);
            transform: translate3d(0, 9.5px, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
            transform: translate3d(0, 0, 0) rotate(90deg);
  }
}
@keyframes gotoCross-after {
  0% {
    -webkit-transform: translate3d(0, 9.5px, 0);
            transform: translate3d(0, 9.5px, 0);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
            transform: translate3d(0, 0, 0) rotate(90deg);
  }
}
@-webkit-keyframes gotoCross-all {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: white;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(315deg);
            transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
}
@keyframes gotoCross-all {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
    background-color: white;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(315deg);
            transform: translate3d(0, 0, 0) rotate(315deg);
    background-color: #e74c3c;
  }
}
header .cv {
  margin: auto 1em;
  font-family: Helvetica, Century Gothic, Arial;
  font-size: 1em;
  letter-spacing: .5em;
  color: white;
  cursor: pointer;
}

.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none;
}

.sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 7em;
  position: fixed;
  -webkit-transform: translateZ(0);
  top: 2.5em;
  left: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.sidebar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: auto;
}
.sidebar ul li {
  height: 10em;
  width: 8em;
  margin-top: 2em;
  border-bottom: thin rgba(0, 0, 255, 0.1) solid;
  font-family: Helvetica, Century Gothic, Arial;
  line-height: 4em;
  text-align: center;
  font-size: .5em;
  letter-spacing: 0.5em;
  font-weight: bold;
  color: #03A9F4;
}
.sidebar ul li:hover {
  border-top: thin rgba(255, 255, 255, 0) solid;
  background: rgba(255, 255, 255, 0.1);
  color: #F34335;
}
.sidebar ul li span {
  cursor: pointer;
}

.logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2em;
      -ms-flex: 0 0 2em;
          flex: 0 0 2em;
  width: 8em;
  margin: 5em auto 3em auto;
  background-image: url(../../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
  background-image: url("../../img/space-repeating1.png");
}
#home .container {
  width: 8em;
  position: relative;
  margin: 7em auto;
}
#home .container .move-logo {
  position: absolute;
  left: -3.4em;
  top: -1.9em;
}
#home .container .move-logo img {
  height: 1.5em;
}
#home .container .bar-wrap {
  padding-right: 3em;
}
#home .container .logo-bar {
  height: 2px;
  width: 3.4em;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-animation: expand 1500ms;
          animation: expand 1500ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: auto;
}
#home .container .hide {
  display: hide;
}
@-webkit-keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 4em;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 4em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
@keyframes expand {
  0% {
    width: 2px;
  }
  25% {
    width: 2px;
  }
  30% {
    width: 2px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 4em;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    width: 4em;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}
#home .container .eben {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -1.4em;
  margin-left: 2em;
}
#home .container .hafkamp {
  vertical-align: -80%;
  margin-top: -1em;
  margin-left: 5.3em;
  overflow: hidden;
  display: inline-block;
}
#home .container .eben-text {
  margin-left: 0em;
  -webkit-animation: eben-slide 2000ms;
          animation: eben-slide 2000ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
#home .container .hafkamp-text {
  margin-left: 0em;
  -webkit-animation: hafkamp-slide 2000ms;
          animation: hafkamp-slide 2000ms;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
@-webkit-keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes eben-slide {
  0% {
    margin-left: 4em;
    opacity: 0;
  }
  60% {
    margin-left: 4em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
@keyframes hafkamp-slide {
  0% {
    margin-left: -8em;
    opacity: 0;
  }
  60% {
    margin-left: -8em;
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    left: 0;
  }
}
#skills {
  background: -webkit-radial-gradient(center, ellipse cover, #474747 0%, #1c1c1c 100%);
  text-align: center;
  padding-top: 4em;
  /*for tablet landscape - inclusive*/
}
#skills .skills-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#skills .tools-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#skills p {
  margin-bottom: .3em;
}
#skills span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  color: white;
  font-size: 1em;
  font-family: Helvetica, Century Gothic, Arial;
}
#skills img {
  margin: 1.5em 0 1.5em;
}
#skills #Animation-front {
  width: 5.5em;
  height: 2em;
  margin: .5em auto;
  font: normal 40px/50px 'Raleway', sans-serif;
  color: #999;
}
#skills #Animation-front b {
  overflow: hidden;
  position: relative;
  height: 1.4em;
  line-height: 1.7em;
  float: left;
}
#skills #Animation-front span {
  height: 50px;
  float: left;
  white-space: nowrap;
  position: relative;
  font-size: .8em;
}
#skills #Animation-front .moving-text {
  margin-top: -.2em;
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  -webkit-animation: move 6s;
          animation: move 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-size: .5em;
  letter-spacing: 2px;
}
@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  60% {
    top: -210px;
  }
  80% {
    top: 0px;
  }
  80% {
    top: 0px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
  60% {
    top: -210px;
  }
  80% {
    top: 0px;
  }
  80% {
    top: 0px;
  }
}
#work {
  height: 100%;
  padding-top: 1em;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1e5799), color-stop(100%, #7db9e8));
}
#work h1 {
  margin: .6em auto 1em;
}
#work .fp-tableCell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
#work .slick-center .slide-logo {
  color: #FFF;
}
#work .slick-center .slide-logo:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98vw;
  line-height: 0em;
  margin: 3em auto 1em;
  padding: 0 1em;
  text-align: center;
}
#work .slider-nav:focus {
  outline: 0;
  outline: none;
  border: 0;
  border: none;
}
#work .slider-nav .slide-logo {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 14em;
      -ms-flex: 1 0 14em;
          flex: 1 0 14em;
  padding: 1.5em 0;
  background: rgba(255, 255, 255, 0.1);
}
#work .slider-nav .slide-logo img {
  margin: auto;
}
#work .slick-slide {
  opacity: .2;
}
#work .slick-slide:focus {
  outline: 0;
}
#work .slick-center {
  display: block;
  max-width: 12% !important;
  max-height: 20% !important;
  opacity: 1;
}
#work .slider-for {
  width: 98vw;
  max-width: 75em;
  height: 15em;
  margin: auto;
  text-align: center;
}
#work .slider-for .goldway-2 {
  display: none;
}
#work .slider-for .cyanfox-2 {
  display: none;
}
#work .slider-for .nis-2 {
  display: none;
}
#work .slider-for .bbj-2 {
  display: none;
}
#work .slider-for .rhino-2 {
  display: none;
}
@media only screen and (max-width: 45.999em) {
  #work .slider-for #img-place {
    margin: auto;
    height: 14em;
    width: 98vw;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
}
#work .slider-for .dots {
  height: 1em;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#work .slider-for .contain-1 .dots {
  background-image: url(../../img/dots-1.png);
}
#work .slider-for .contain-1 .goldway {
  background-image: url(../../img/goldway.png);
}
#work .slider-for .contain-2 .dots {
  background-image: url(../../img/dots-2.png);
}
#work .slider-for .contain-2 .cyanfox {
  background-image: url(../../img/cyanfox1.png);
}
#work .slider-for .contain-3 .dots {
  background-image: url(../../img/dots-3.png);
}
#work .slider-for .contain-3 .nis {
  background-image: url(../../img/nis2.png);
}
#work .slider-for .contain-4 .dots {
  background-image: url(../../img/dots-4.png);
}
#work .slider-for .contain-4 .bbj {
  background-image: url(../../img/bb22j.png);
}
#work .slider-for .contain-6 .dots {
  background-image: url(../../img/dots-5.png);
}
#work .slider-for .contain-6 .rhino {
  background-image: url(../../img/rhino.png);
}

@media (min-width: 46em) {
  #work {
    padding-top: 2em;
  }
  #work h1 {
    font-size: 1.3em;
    margin: 1em auto 1.4em;
  }
  #work p {
    padding: 2.7em 2em;
    font-size: .9em;
    letter-spacing: .15em;
  }
  #work .slider-nav .slick-next {
    padding-left: 1em;
    background-image: url(../../img/arrow-right-thin.png);
    background-size: cover;
  }
  #work .slider-nav .slick-prev {
    padding-right: 1em;
    background-image: url(../../img/arrow-left-thin.png);
    background-size: cover;
  }
  #work #img-place {
    margin: auto;
    height: 24.5em;
    width: 70vw;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
  #work .contain-1 .dots {
    height: 1em;
    top: 35em;
    background-image: url(../../img/dots-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #work .contain-2 .dots {
    height: 1em;
    top: 35em;
    background-image: url(../../img/dots-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  #work .slider-nav {
    width: 75vw;
  }
}
@media (min-width: 70em) {
  #work {
    padding-top: 2em;
  }
  #work h1 {
    font-size: 1.6em;
    margin: 1em auto 1.4em;
  }
  #work p {
    padding: 4em 0em;
    font-size: .9em;
    letter-spacing: .15em;
  }
  #work #img-place {
    margin: auto;
    height: 22em;
    width: 45%;
    position: relative;
    background-size: cover;
    background-position: 50% 0%;
  }
  #work .dots {
    top: 35em;
  }
  #work .slider-nav {
    width: 55vw;
  }
  #work .slider-for {
    max-width: 80%;
    height: 35em;
  }
  #work .slider-for .goldway {
    background-image: url(../../img/goldway.png);
  }
  #work .slider-for .cyanfox {
    background-image: url(../../img/cyanfox1.png);
  }
  #work .slider-for .d-img-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  #work .slider-for .d-img-wrap .goldway-2 {
    display: block;
    background-image: url(../../img/goldway.png);
  }
  #work .slider-for .d-img-wrap .cyanfox-2 {
    display: block;
    background-image: url(../../img/cyanfox1.png);
  }
  #work .slider-for .d-img-wrap .nis-2 {
    display: block;
    background-image: url(../../img/nis2.png);
  }
  #work .slider-for .d-img-wrap .bbj-2 {
    display: block;
    background-image: url(../../img/bb22j.png);
  }
  #work .slider-for .d-img-wrap .rhino-2 {
    display: block;
    background-image: url(../../img/rhino.png);
  }
  #work .slider-for .rhino {
    background-image: url(../../img/rhino.png);
  }
}
.fp-tableCell {
  vertical-align: top;
}

#contact {
  background: -webkit-linear-gradient(45deg, #fba6e1 0%, #fd89d7 72%, #ff7cd8 100%);
  text-align: center;
  padding-top: 4em;
  /* on hover placeholder */
}
#contact p {
  padding: 1em 1.5em;
}
#contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
  color: white;
  font-size: 0.875em;
}
#contact input::-moz-placeholder, #contact textarea::-moz-placeholder {
  color: white;
  font-size: 0.875em;
}
#contact input:-ms-input-placeholder, #contact textarea:-ms-input-placeholder {
  color: white;
  font-size: 0.875em;
}
#contact input::placeholder, #contact textarea::placeholder {
  color: white;
  font-size: 0.875em;
}
#contact input:focus::-webkit-input-placeholder, #contact textarea::focus:placeholder {
  color: #bbb5af;
}
#contact input:focus::-moz-placeholder, #contact textarea::focus:placeholder {
  color: #bbb5af;
}
#contact input:focus:-ms-input-placeholder, #contact textarea::focus:placeholder {
  color: #bbb5af;
}
#contact input:focus::placeholder, #contact textarea::focus:placeholder {
  color: #bbb5af;
}
#contact input:hover::-webkit-input-placeholder, #contact textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
#contact input:hover::-moz-placeholder, #contact textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
#contact input:hover:-ms-input-placeholder, #contact textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
#contact input:hover::placeholder, #contact textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}
#contact input:hover:focus::-webkit-input-placeholder, #contact textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}
#contact input:hover:focus::-moz-placeholder, #contact textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}
#contact input:hover:focus:-ms-input-placeholder, #contact textarea:hover:focus:-ms-input-placeholder {
  color: #cbc6c1;
}
#contact input:hover:focus::placeholder, #contact textarea:hover:focus::placeholder {
  color: #cbc6c1;
}
#contact #form {
  position: relative;
  width: 100%;
  margin: 0 2em;
}
#contact input {
  font-family: century gothic;
  font-size: 0.875em;
  width: 100%;
  height: 2.5em;
  padding: 0 1em;
  background: transparent;
  outline: none;
  color: white;
  border: solid 1px white;
  border-bottom: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#contact input:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #e2dedb;
}
#contact textarea {
  width: 100%;
  height: 110px;
  padding: 1em;
  background: transparent;
  outline: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px white;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#contact textarea:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #e2dedb;
}
#contact #submit {
  width: 100%;
  margin: -5px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: white;
  outline: none;
  cursor: pointer;
  border: solid 1px white;
  border-top: none;
}
#contact #submit:hover {
  color: #e2dedb;
}
#contact .me-thumb {
  width: 4em;
  height: 4em;
  margin: 2em 0 0 2em;
  border: white thin solid;
  border-radius: 5px;
}
#contact span {
  color: white;
  font-family: arial;
  font-size: .5em;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -2000;
}

.fp-tableCell {
  z-index: -2000;
}

h1 {
  font-size: 1.2em;
  font-family: Helvetica, Century Gothic, Arial;
  color: white;
}

p {
  margin-bottom: 1.5em;
  padding: 2em 2em;
  font-family: Helvetica, Century Gothic, Arial;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1.6em;
  color: white;
}
