$breakpoints: (
  'tablet-portrait'  : 46em,
  'tablet'  : 46em,
  'small-desktop' : 70em,
  'large-desktop'  : 110em
);

@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin fade-img-mobile {
  margin: auto;
  height:14em;
  width:98vw;
  position: relative;
  background-size:cover;
  background-position: 50% 0%;
}

// @mixin fade-img-tablet {
//   margin: auto;
//   height:26em;
//   width:98vw;
//   position: relative;
//   background-size:cover;
//   background-position: 50% 0%;
// }

@mixin fade-img-tablet {
  margin: auto;
  height:24.5em;
  width:70vw;
  position: relative;
  background-size:cover;
  background-position: 50% 0%;
}

@mixin fade-img-small-desktop {
  margin: auto;
  height:22em;
  width:45%;
  position: relative;
  background-size:cover;
  background-position: 50% 0%;
}

@mixin fade-img-large-desktop {
  // outline: yellow thin solid;
  margin: auto;
  height:30em;
  width:55%;
  position: relative;
  background-size:cover;
  background-position: 50% 0%;
  box-shadow: -2px -37px 160px -52px rgba(0,0,0,0.75);
}
