.fp-tableCell {
  vertical-align: top;
}

#contact {
  background: linear-gradient(45deg, rgba(116,207,192,1) 0%, rgba(116,207,192,1) 17%, rgba(73,165,191,1) 100%);
  text-align: center;
  padding-top: 4em;

  p {
    display: none;
  }

  h1 {
    margin: 0 auto 1em;
    color: #b9ecfa;
    font-family: sofia, cursive;
    font-size: 2em;
    font-weight: bold;
  }

  a {
    // color: #435160;
    // color: #d14767;
    text-decoration: none;
  }

  .message {
    width: 95vw;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
  }

  textarea {
     height:5em;
     padding: 20px 0px;
     background: transparent;
     border: 0;
     border-bottom: 1px solid #b9ecfa;
     outline: none;
     color: #b9ecfa;
     font-size: 1em;
     resize: none;
  }
  textarea:focus { border-bottom: 1px solid #04db9b; }

  input[type="text"] {
      padding: .6em 0;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #b9ecfa;
      outline: none;
      color: #b9ecfa;
      font-size: 1em;
  }
  input[type="text"]:focus { border-bottom: 1px solid #04db9b; }

  input[type="submit"] {
    margin-top: 1em;
    background: #025368;
    border: 0;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background .3s ease-in-out;
      &:hover {
        background: #04db9b;
      }
  }

  ::-webkit-input-placeholder{
    color: #b9ecfa;
    font-size: 12px;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    color: #6cfcd1;
    transition: opacity 0.5s 0.5s ease;
    opacity: 0;
  }

  .me-links {
    width: 20em;
    margin: 2em auto;
    display: flex;

    // .avatar {
    //   width:4em;
    //   height: 4em;
    //   margin-right: 2em;
    //   border:#e6c89c thin solid;
    //   border-radius: 5px;
    // }
    .social-icons {
      flex:1 0 65%;
      padding-top: 1.2em;
      display: flex;
      justify-content: space-around;

      img {
        height:1.5em;
        flex:1 0 1;
      }
    }

  }

  span  {
    color: white;
    font-family: arial;
    font-size: .5em;
  }
}

@include respond-to(tablet) {

  #contact {
    h1 {
      margin: 1em auto 1em;
      font-size: 3em;
    }

    .message {
      width: 45em;
      margin: 3em auto 5em;

      input[type="text"] { padding: 1.25em 0; }
      textarea { height:10em; }
    }
  }
};

@include respond-to(large-desktop) {
  #contact p { display: block; margin-top: 7em; color: white; }
};

// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:portrait)
// {
//
// }
