svg {
  margin: 3em auto;
  background: rgba(0,0,0,0);
}

.axis line,
.axis path,
{
  fill:none;
  stroke:white;
  shape-rendering: crispEdges;
}

.graph-bars {
  // outline: white thin solid;
  border-radius: 1em;
  box-shadow: 29px 32px 62px -40px rgba(0,0,0,0.75);
}

.x-axis {
  padding: 2em;
}
