.in {display: none;}

header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5em;
    width: 100vw;
    border-bottom: thin white solid;
    z-index: 100;

    #bars {
      height: 2.5em;
      width: 1.5em;
      padding:.6em 1em;

      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }

      html,
      body {
        width: 100%;
        max-width: 650px;
        background-color: #2a2a2a;
      }


      $burger-size: 20px;
      $burger-burger: white;
      $burger-cross: #e74c3c;
      $burger-thickness: 1px;
      $burger-anim-time: .3s;
      $burger-anim-effect: ease-out;
      $burger-padding: ($burger-size - $burger-thickness)/2;

      .burger-button {
        user-select: none;
        display: block;
        width: $burger-size;
        height: $burger-size;
        background-color: $burger-burger;
        background-clip: content-box;
        padding: $burger-padding 0;
        position: relative;

        &:after,
        &:before {
          display: block;
          content: "";
          width: $burger-size;
          height: $burger-thickness;
          background-color: inherit;
          position: absolute; }

        &:after {
          transform: translate3d(0,$burger-padding,0); }

        &:before {
          transform: translate3d(0,-1*$burger-padding,0); }
      }


      .goto-burger {
        animation: gotoBurger-all $burger-anim-time $burger-anim-effect forwards;

        &:before {
          animation: gotoBurger-before $burger-anim-time $burger-anim-effect forwards;
        }
        &:after {
          animation: gotoBurger-after $burger-anim-time $burger-anim-effect forwards;
        }
      }
      @keyframes gotoBurger-all  {
        0% {
          transform: translate3d(0,0,0) rotate(315deg);
          background-color: $burger-cross;
        }
        100% {
          transform: translate3d(0,0,0) rotate(720deg);
          background-color: $burger-burger;
        }
      }
      @keyframes gotoBurger-before  {
        0% {
          transform: translate3d(0,0,0);
        }
        60% {
          transform: translate3d(0,0,0);
        }
        100% {
          transform: translate3d(0,-1*$burger-padding,0);
        }
      }
      @keyframes gotoBurger-after  {
        0% {
          transform: translate3d(0,0,0) rotate(90deg);
        }
        60% {
          transform: translate3d(0,0,0) rotate(180deg);
        }
        100% {
          transform: translate3d(0,$burger-padding,0) rotate(180deg);
        }
      }


      .goto-cross {
        animation: gotoCross-all $burger-anim-time $burger-anim-effect forwards;

        &:before {
           animation: gotoCross-before $burger-anim-time $burger-anim-effect forwards;
        }
        &:after {
           animation: gotoCross-after $burger-anim-time $burger-anim-effect forwards;
        }
      }
      @keyframes gotoCross-before  {
        0% {
          transform: translate3d(0,-1*$burger-padding,0);
        }
        30% {
          transform: translate3d(0,0,0);
        }
        100% {
          transform: translate3d(0,0,0);
        }
      }
      @keyframes gotoCross-after  {
        0% {
          transform: translate3d(0,$burger-padding,0);
        }
        30% {
          transform: translate3d(0,0,0);
        }
        100% {
          transform: translate3d(0,0,0) rotate(90deg);
        }
      }
      @keyframes gotoCross-all  {
        0% {
          transform: translate3d(0,0,0) rotate(0deg);
          background-color: $burger-burger;
        }
        100% {
          transform: translate3d(0,0,0) rotate(315deg);
          background-color: $burger-cross;
        }
      }
    }

    .cv {
        margin: auto 1em;
        font-family: $font-stack;
        font-size: 1em;
        letter-spacing: .5em;
        color:white;
        cursor: pointer;
    }
}

.show {display: flex;}
.hide {display: none;}

.sidebar {
        flex-direction: column;
        width: 100vw;
        height: 7em;
        position: fixed;
        -webkit-transform: translateZ(0);
        top: 2.5em;
        left:0;
        z-index: 50;
        background: fade-out(white, .1);
        // filter:url('#blur');

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;

            li {
                height: 10em;
                width: 8em;
                margin-top:2em;
                border-bottom: thin fade-out(blue, .90) solid;
                font-family: $font-stack;
                line-height: 4em;
                text-align: center;
                font-size: .5em;
                letter-spacing: 0.5em;
                font-weight: bold;
                color: #03A9F4;
                &:hover {
                    border-top: thin fade-out(white, 1) solid;
                    background: fade-out(white, .9);
                    color: $peach;
                }
                span {cursor: pointer;}
            }
        }
    }

.logo {
    flex: 0 0 2em;
    width: 8em;
    margin: 5em auto 3em auto;
    background-image:url(../../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
