.in {display: none;}

header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    height: 7em;
    width: 100vw;
    border-bottom: thin white solid;
    z-index: 100;

    #bars {
      height: 2.5em;
      width: 3em;
      margin: 2.25em 0 0 2.25em;

      .menu {
        padding-left: 2.5em;
        line-height: 1.7em;
      	font-size: 22px;
      	font-family: Century Gothic;
      	letter-spacing: 1px;
      	color: #fafafa;
      }

      input {
      	display: none;
      }
      label {
      	position: relative;
      	width: 40px;
      	height: 40px;
      	display: block;
      	cursor: pointer;
      	background: transparent;
      }

      /******** Exit Icon ********/

       label:before,
      .burger-wrapper input:checked + label:before {
      	content: '';
      	position: absolute;
      	top: 50%;
      	margin-top: -2px;
      	width: 40px;
      	height: 4px;
      	border-radius: 2px;
      	background: #fafafa;
      }

      label:before {
      	animation: animationOneReverse 1s ease forwards;
      }
      @keyframes animationOneReverse {
      	0% { transform: rotate(315deg); }
      	25% { transform: rotate(360deg); }
      	50%, 100% { transform: rotate(0deg); }
      }

      input:checked + label:before {
      	animation: animationOne 1s ease forwards;
      }
      @keyframes animationOne {
      	0%, 50% { transform: rotate(0deg); }
      	75% { transform: rotate(360deg); }
      	100% { transform: rotate(315deg); }
      }

      label:after,
      input:checked + label:after {
      	content: '';
      	position: absolute;
      	top: 50%;
      	margin-top: -2px;
      	width: 40px;
      	height: 4px;
      	border-radius: 2px;
      	background: #fafafa;
      }

      label:after {
      	animation: animationTwoReverse 1s ease forwards;
      }
      @keyframes animationTwoReverse {
      	0% { transform: rotate(405deg); }
      	25% { transform: rotate(450deg); }
      	50%, 100% { transform: rotate(0deg); }
      }

      input:checked + label:after {
      	animation: animationTwo 1s ease forwards;
      }
      @keyframes animationTwo {
      	0%, 50% { transform: rotate(0deg); }
      	75% { transform: rotate(450deg); }
      	100% { transform: rotate(405deg); }
      }

      /******** Burger Icon ********/

      label .burger:before {
      	content: '';
      	position: absolute;
      	top: 6px;
      	width: 40px;
      	height: 4px;
      	border-radius: 2px;
      	background: #fafafa;
      	animation: animationBurgerTopReverse 1s ease forwards;
      }
      @keyframes animationBurgerTopReverse {
      	0%, 50% { transform: translateY(12px); opacity: 0; }
      	51% { transform: translateY(12px); opacity: 1; }
      	100% { transform: translateY(0px); opacity: 1; }
      }

      input:checked + label .burger:before {
      	animation: animationBurgerTop 1s ease forwards;
      }
      @keyframes animationBurgerTop {
      	0% { transform: translateY(0px); opacity: 1; }
      	50% { transform: translateY(12px); opacity: 1; }
      	51%, 100% { transform: translateY(12px); opacity: 0; }
      }

      label .burger:after {
      	content: '';
      	position: absolute;
      	bottom: 6px;
      	width: 40px;
      	height: 4px;
      	border-radius: 2px;
      	background: #fafafa;
      	animation: animationBurgerBottomReverse 1s ease forwards;
      }
      @keyframes animationBurgerBottomReverse {
      	0%, 50% { transform: translateY(-12px); opacity: 0; }
      	51% { transform: translateY(-12px); opacity: 1; }
      	100% { transform: translateY(0px); opacity: 1; }
      }

      input:checked + label .burger:after {
      	animation: animationBurgerBottom 1s ease forwards;
      }
      @keyframes animationBurgerBottom {
      	0% { transform: translateY(0px); opacity: 1; }
      	50% { transform: translateY(-12px); opacity: 1; }
      	51%, 100% { transform: translateY(-12px); opacity: 0; }
      }
    }

    .cv {
        margin: auto 2em;
        font-family: $font-stack;
        font-size: 2em;
        letter-spacing: .3em;
        color:white;
        cursor: pointer;
    }
}

.show {display: flex;}
.hide {display: none;}

.sidebar {
        flex-direction: column;
        width: 100vw;
        height: 18em;
        position: fixed;
        -webkit-transform: translateZ(0);
        top: 7em;
        left:0;
        z-index: 50;
        background: fade-out(white, .1);

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;

            li {
//                outline: black thin solid;
                height: 10em;
                width: 8em;
                margin-top:2em;
                border-bottom: thin fade-out(blue, .90) solid;
                font-family: $font-stack;
                line-height: 4em;
                text-align: center;
                font-size: 1.2em;
                letter-spacing: 0.5em;
                font-weight: bold;
                color: #03A9F4;
                &:hover {
                    border-top: thin fade-out(white, 1) solid;
                    background: fade-out(white, .9);
                    color: $peach;
                }
//                img {outline:blue thin solid;}
                span {cursor: pointer;}
            }
        }
    }

.logo {
    flex: 0 0 2em;
    width: 8em;
    margin: 5em auto 3em auto;
    background-image:url(../../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
