#home {
    display: flex;
    flex-direction: column;
    z-index: -2000;

    .splash {
      z-index: -3000;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-image: url("../../img/home-bg.jpg");
      background-position: 18% 60%;
      -webkit-filter: brightness(0.4);
      filter: brightness(.4);
    }

    .fp-tableCell {display: flex; flex-direction: column;}

    .index-wrap {
      height: 40em;
      flex-direction: column;
      .in-wrap {
        flex: 1 0 5%;
        display: flex;
        flex-direction: column;
        h2 {text-align: center; line-height: 2em; padding: 3em; font-size: .7em;}
        h2:nth-child(3) {display: none;}
        .icon-text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 7em;
          max-width: 3em;
          margin-top: 1em;
          margin-left: 1em;
          .flex-wrap {
            display: flex;
            div {
              flex: 1 0 20%;
              min-width: 3em;
              max-width: 3em;
              height: 2em;
              text-align: center;
              img {padding: .5em 0 0 0; height:20px;}
            }
            p {
              position: absolute;
              margin-top: -1.4em;
              span {display: none;}
            }
          }
          .flex-wrap:first-child {border-bottom: thin solid white; padding-bottom: 1em;}
        }
      }
      .img-stacked {
        flex:1 0 30%;
        min-width: 150%;
        background-image: url("../../img/cyanfox-flat.png");
        background-size: contain;
        background-position: 70% 10%;
        background-repeat: no-repeat;
        transform: rotate(350deg);
      }
    }
    .container {
      height: 0;
        width: 8em;
        position: relative;
        margin:7em auto;

        .move-logo {
            position: absolute;
            left: -3.2em;
            top: -1.7em;
        }

        .move-logo img {height: 1.5em;}

        .bar-wrap {padding-right: 2.7em;}
        .logo-bar {
            height: 2px;
            width: 3.2em;
            background-color: #fff;
            z-index: 999;
            transform: rotate(135deg);
            animation: expand 1500ms;
            transform-origin: 50% 50%;
            margin: auto;
        }

        @keyframes expand {
            0% {
                width: 2px;
              }
            25% {
                width: 2px;
              }
            30% {
                width: 2px;
                transform: rotate(90deg);
            }
            50% {
                width: 4em;
                transform: rotate(90deg);
            }
            100% {
                width: 4em;
                transform: rotate(135deg);
            }
        }

        .eben {
            overflow: hidden;
            display: inline-block;
            margin-bottom: -1.4em;
            margin-left: 2em;
        }
        .hafkamp {
            vertical-align: -80%;
            margin-top: .3em;
            margin-left: 5.3em;
            overflow: hidden;
            display: inline-block;
        }

        .eben-text {
            margin-left: 0em;
            animation: eben-slide 2000ms;
        }
        .hafkamp-text {
            margin-left: 0em;
            animation: hafkamp-slide 2000ms;
        }
        @keyframes eben-slide {
            0% {
                margin-left: 4em;
                opacity: 0;
            }
            60% {
                margin-left: 4em;
                opacity: 0;
            }
            70% {
                opacity: 0;
            }
            100% {
                left: 0;
            }
        }
        @keyframes hafkamp-slide {
            0% {
                margin-left: -8em;
                opacity: 0;
            }
            60% {
                margin-left: -8em;
                opacity: 0;
            }
            70% {
                opacity: 0;
            }
            100% {
                left: 0;
            }
        }
    }
    .mouse {
      width: 2em;
      height: 3em;
      position: absolute;
      top:13em;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      border: #e6e6e6 thin solid;
      border-radius: 300px;
      display: none;
    }

    .mouse-wheel {
        width: .4em;
        height: .5em;
        margin: .5em auto;
        background: #cdcdcd;
        border-radius: 300px;
        animation: down 4000ms;

    }

    @keyframes down {
      0% {margin: .5em auto;}
      10% {margin: .8em auto;}
      20% {margin: .5em auto;}
      30% {margin: .8em auto;}
      40% {margin: .5em auto;}
      50% {margin: .8em auto;}
      60% {margin: .5em auto;}
      70% {margin: .8em auto;}
      80% {margin: .5em auto;}
      90% {margin: .8em auto;}
      100% {margin: .5em auto;}
    }
}

//iPhone 4 and 5
@media only screen and (min-device-width : 20em) and (max-device-width : 21em) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #home {
    .mouse {display: none;}
    .index-wrap {
      height: 35em;
      .img-stacked {background-position: 0% 30%;}
      .in-wrap {margin-top: -3em;}
    }
  }
};

@include respond-to(large-desktop) {
  #home {
    .index-wrap {
      height: 45em;
      flex-direction: row;
      margin-top: 2em;
      .in-wrap {
        padding-top: 7em;
        // outline:pink solid thin;
        h2:nth-child(2) {display: none;}
        h2:nth-child(3) {
          display: block;
          margin-left: 4em; 
          padding: 1em;
          text-align: left;
          line-height: 3em;
        }
        .icon-text {
          flex-direction: row;
          justify-content: space-between;
          height: 3em;
          max-width: 40em;
          margin-top: 24em;
          margin-left: 0;
          padding-left: 3em;
          .flex-wrap {
            div {
              height: 3em;
              margin-right: 1em;
              border-right: thin solid white;
              img {height: 30px; padding: .5em 2em 0 0; line-height: 3em;}
            }
            p {
              position: relative;
              line-height: 3em;
              margin-top: 0;
              padding: 0 0;
              span {display: block; color: white; font-family:$font-stack; font-size: .7em; letter-spacing: .15em;}
            }
          }
          .flex-wrap:first-child {border-bottom: 0;}
        }
      }
      .img-stacked {
        min-width: 0%;
        background-position: 120% 100%;
      }
    }
    .container {
      width: 9em;
      position: relative;
      margin: 9em auto 1em;

      .move-logo img {height: 2.41em;}

      .move-logo {
        position: absolute;
        left: -1.8em;
        top: -1.9em;
      }

      .bar-wrap {padding-right: 0;}
      .logo-bar {
        height: .16em;
        width: 5.8em;
        background-color: #fff;
        z-index: 999;
        transform: rotate(135deg);
        animation: expand 1500ms;
        transform-origin: 50% 50%;
        margin: auto;
      }

      @keyframes expand {
        0% {
          width: 2px;
        }
        25% {
          width: 2px;
        }
        30% {
          width: 2px;
          transform: rotate(90deg);
        }
        50% {
          width: 100px;
          transform: rotate(90deg);
        }
        100% {
          width: 100px;
          transform: rotate(135deg);
        }
      }

      .eben {
        overflow: hidden;
        display: inline-block;
        margin-bottom: -.5em;
        margin-left: 0;
      }

      .hafkamp {
        vertical-align: -80%;
        margin-top: -1em;
        margin-left: 5.3em;
        overflow: hidden;
        display: inline-block;
      }

      .eben-text {
        margin-left: 0em;
        animation: eben-slide 2000ms;
      }

      .hafkamp-text {
        margin-left: 0em;
        animation: hafkamp-slide 2000ms;
      }

      @keyframes eben-slide {
        0% {
          margin-left: 4em;
          opacity: 0;
        }
        60% {
          margin-left: 4em;
          opacity: 0;
        }
        70% {
          opacity: 0;
        }
        100% {
          left: 0;
        }
      }

      @keyframes hafkamp-slide {
        0% {
          margin-left: -8em;
          opacity: 0;
        }
        60% {
          margin-left: -8em;
          opacity: 0;
        }
        70% {
          opacity: 0;
        }
        100% {
          left: 0;
        }
      }
    }
  }
};
