main {
    display: flex;
    flex-direction: column;
    z-index: -2000;
}

.fp-tableCell {z-index: -2000;}

h1 {
  font-size:1.4em;
  font-family:$font-stack;
  color: white;
}

p {
  margin-bottom: 1.5em;
  padding:2em 2em;
  font-family:$font-stack;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1.6em;
  color: white;
}
