@font-face {font-family: sofia; src:url(../../fonts/Sofia-Regular.otf);}

main {
    display: flex;
    flex-direction: column;
    z-index: -2000;
}

.hide {display: none;}

.show {display: flex;}

.fadeIn {display: flex;}

.fp-tableCell {z-index: -2000;}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  display: none;
    background: white;
}

h1 {
  font-size:1.2em;
  font-family:$font-stack;
  font-weight: 100;
  color: white;
}

h2 {
  font-size:.9em;
  font-family:$font-stack;
  font-weight: lighter;
  letter-spacing: .12em;
  color: white;
}

p {
  margin-bottom: 1.5em;
  padding:2em 2em;
  font-family:$font-stack;
  font-weight: lighter;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1.6em;
  color: white;
}

.fp-controlArrow {display: none;}

@include respond-to(tablet) {
  h1 { font-size: 1.3em; margin: 1em auto 1em; }
  p { font-size: .9em; letter-spacing: .15em; }
};

@include respond-to(small-desktop) {
  h1 { font-size: 1.6em; margin: 1em auto 1.4em; }
  .in {display: none;}
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
      display: block;
  }
};

@include respond-to(large-desktop) {
  h1 { font-size: 1.6em; margin: 1em auto 1em; letter-spacing: .1em;}
  p { font-size: .9em; letter-spacing: .15em; }
};
