#skills {
  background: radial-gradient(ellipse at center, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
  // background: -webkit-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
  // background: -moz-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
  // background: -ms-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
  // background: -o-radial-gradient(center, ellipse cover, rgba(71,71,71,1) 0%, rgba(28,28,28,1) 100%);
  text-align: center;
  padding-top: 4em;

  .fp-tableCell {display: flex; flex-direction: column;}

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tools-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  p {margin-bottom: .3em;}

  span {
    flex: 1 0 25%;
    color: white;
    font-size: 1em;
    font-family: $font-stack;
  }

  img {
    margin: 1.5em 0;
  }

  button {
    margin: 6em;
    padding:.8em 1.4em;
    color: white;
    background: linear-gradient(to bottom, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 100%);
    border: #474747 thin solid;
    outline:0;
    font-family: $font-stack;
    letter-spacing: .2em;
    font-size: 12px;
    cursor: pointer;
  }

  #Animation-front{
    // outline: 1px red solid;
    display: none;
    width: 5.5em;
    height: 2em;
    margin: .5em auto;
    font: normal 40px/50px 'Raleway', sans-serif;
    color: #999;


    b {
      overflow: hidden;
      position: relative;
      height: 1.4em;
      line-height: 1.7em;
      float: left;
    }
    .ima{
      height: 50px;
      float: left;
      white-space: nowrap;
      position: relative;
      font-size: .8em;
    }
    .moving-text {
      margin-top:-.2em;
      display: inline-block;
      color: #e74c3c;
      position: relative;
      white-space: nowrap;
      animation: move 6s;
      animation-iteration-count: infinite;
      font-size: .5em;
      letter-spacing: 2px;
    }
    @keyframes move {
      0%  { top: 0px; }
      20% { top: -70px; }
      40% { top: -140px; }
      60% { top: -210px; }
      60% { top: -210px; }
      80% { top: 0px;}
      80% { top: 0px;}
    }
  }

}

@include respond-to(tablet) {
  #skills {
    p {margin-bottom: 1em;}
    img {margin: 2em;}
    #Animation-front{width: 5.5em; height: 2em; margin: 1em auto;}
  }
};

@include respond-to(small-desktop) {
  #skills {
    span {font-size: 1.2em; letter-spacing: .15em}
    img {margin: 2em; height:50px}
    #Animation-front{width: 5.5em; height: 2em; margin: 1em auto;}
    .ima {font-size:1em; letter-spacing: 0;}
  }
};

@include respond-to(large-desktop) {
  #skills {
    padding: 4em 15em 0;
    p {margin:3em 0 3em;}
    span {font-size: 1.2em; letter-spacing: .15em}
    img {margin: 2em; height:50px}
    #Animation-front{margin: 2.5em auto;}
    .ima {font-size:1em; letter-spacing: 0;}
  }
};
