#work {
  height: 100%;
  padding-top: 4em;
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
  // background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));
  // background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
  // background: -ms-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);
  // background: -o-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 100%);

  h1 {
    margin: .6em auto 1em;
  }
  .big-dev-p {display: none;}

  .fp-tableCell {display: flex; flex-direction: column;}

  .slick-center .slide-logo{
    color: #FFF;
    &:focus {
      outline:0;
      outline: none;
      border:0;
      border:none;
    }
  }
  .slider-nav{
    display: none;
    justify-content: space-between;
    width: 98vw;
    line-height: 0em;
    margin: 3em auto 2em;
    padding: 0 1em;
    text-align: center;
    &:focus {
      outline:0;
      outline: none;
      border:0;
      border:none;
    }
    .slide-logo{
      flex: 1 0 14em;
      padding: 1em 0;
      background: fade-out(#FFF, .9);
      img {margin: auto;}
    }
  }
  .slick-slide{
    opacity: .2;
    &:focus {
      outline:0;
    }
  }
  .slick-center{
    display: block;
    max-width: 12% !important;
    max-height:20% !important;
    opacity: 1;
  }

  .slider-for {
    width:98vw;
    max-width: 75em;
    height:28em;
    margin: auto;
    text-align: center;

    .goldway-2 {display: none;}
    .cyanfox-2 {display: none;}
    .nis-2 {display: none;}
    .bbj-2 {display: none;}
    .rhino-2 {display: none;}

    @media only screen and (max-width : 45.999em) {
      #img-place {@include fade-img-mobile;}
    }


    .dots {
      height:1em;
      width: 100%;
      position: absolute;
      top:24em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .slick-slide {position: relative; height:100vh;}

    .contain-1 {
      .dots {
        background-image: url(../../img/dots-1.png);
      }
      .goldway {
        background-image:url(../../img/goldway.png);
      }
    }
    .contain-2 {
      .dots {
        background-image: url(../../img/dots-2.png);
      }
      .cyanfox {
        background-image: url(../../img/cyanfox1.png);
      }
    }
    .contain-3 {
      .dots {
        background-image: url(../../img/dots-3.png);
      }
      .nis {
        background-image:url(../../img/nis2.png);
      }
    }
    .contain-4 {
      .dots {
        background-image: url(../../img/dots-4.png);
      }
      .bbj {
        background-image:url(../../img/bb22j.png);
      }
    }
    .contain-6 {
      .dots {
        background-image: url(../../img/dots-5.png);
      }
      .rhino {
        background-image:url(../../img/rhino.png);
      }
    }
    .goldway-1 {
      display: none;
    }
    .cyanfox-1 {
      display: none;
    }
    .nis-1 {
      display: none;
    }
    .bbj-1 {
      display: none;
    }
    .rhino-1 {
      display: none;
    }
  }
}

@include respond-to(tablet){

  #work {
    padding-top: 2em;

    p {
      display: none;
    }

    .big-dev-p {display: block; padding:0em 2em 1em;}

    .slider-nav {
      display: flex;
      width: 75vw;

      .slide-logo{
        padding: 1.1em 0;
      }

      .slide-logo img {height:22px;}

      .slick-next {
        right:-60px;
        background-image: url(../../img/arrow-right-thin.png);
        background-size: cover;
      }
      .slick-prev {
        left:-60px;
        background-image: url(../../img/arrow-left-thin.png);
        background-size: cover;
      }
      .slick-slider {
        .slick-arrow {padding:0 2em;}
      }
    }

    #img-place {@include fade-img-tablet;}

    .slider-for .dots {top:34em; height:1em;}

    .contain-1 {
      .dots {
        background-image: url(../../img/dots-1.png);
      }
    }
    .contain-2 {
      .dots {
        background-image: url(../../img/dots-2.png);
      }
    }
    .contain-3 {
      .dots {
        background-image: url(../../img/dots-3.png);
      }
    }
    .contain-4 {
      .dots {
        background-image: url(../../img/dots-4.png);
      }
    }
    .contain-6 {
      .dots {
        background-image: url(../../img/dots-5.png);
      }
    }
  }
};

@include respond-to(small-desktop){

  #work {
    padding-top: 2em;

    p { padding:4em 0em; }

    #img-place {@include fade-img-small-desktop;}
    .dots {
      top:35em;
    }

    .slider-nav{
      width: 55vw;
    }

    .slider-for {
      max-width: 80%;
      height:35em;

      .d-img-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .goldway-2 {
          display: block;
          background-image:url(../../img/goldway.png);
        }
        .cyanfox-2 {
          display: block;
          background-image: url(../../img/cyanfox1.png);
        }
        .nis-2 {
          display: block;
          background-image:url(../../img/nis2.png);
        }
        .bbj-2 {
          display: block;
          background-image:url(../../img/bb22j.png);
        }
        .rhino-2 {
          display: block;
          background-image:url(../../img/rhino.png);
        }
      }
    }
  }
};

@include respond-to(large-desktop) {

  #work {

    h1 { margin: 1.2em auto 1.8em; }

    p { margin: 0 0 3.5em; }

    .slider-nav{
      margin-top: -1px;
    }

    .slider-for {
      max-width: 80%;
      height:35em;

      .dots {
        top:47em;
      }

      .d-img-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        #img-place:nth-child(2) {
          @include fade-img-large-desktop;
          box-shadow: 0px -25px 72px -39px rgba(0,0,0,0.75);
        }
        #img-place:nth-child(odd) {
          height: 15em;
          width: 25%;
          box-shadow: 0px -49px 89px -58px rgba(0,0,0,0.75);
          filter: brightness(.7);
         }

        .goldway-1 {
          display: block;
          background-image:url(../../img/goldway.png);
        }
        .cyanfox-1 {
          display: block;
          background-image: url(../../img/cyanfox1.png);
        }
        .nis-1 {
          display: block;
          background-image:url(../../img/nis2.png);
        }
        .bbj-1 {
          display: block;
          background-image:url(../../img/bb22j.png);
        }
        .rhino-1 {
          display: block;
          background-image:url(../../img/rhino.png);
        }
      }
    }
  }
};
