#work {
    height: 100%;
    padding-top: 7em;
    background: #7db9e8;

    .fp-tableCell {display: flex; flex-direction: column;}

    .img-wrap1 {
        display: flex;
        flex-wrap: wrap;
       height: 60%;
        flex-direction: column;

        .nis-block {
            flex: 1 0 55%;
            background-image:url(../../img/pink-bridge.jpg);
            background-size:cover;
        }
        .bbj-block {
            flex: 1 0 45%;
            background-image:url(../../img/black-tech.jpg);
            background-size:cover;
        }
        .cyan-block {
            flex: 1 0 1em;
            // height: 10em;
            background-image:url(../../img/pink-sky.jpg);
            background-size:cover;
        }
        .expand {height:50%; width:100%;}
    }

    .img-wrap2 {
        display: flex;
        height: 40%;

        .rhino-block {
            flex: 1 0 45%;
            background-image:url(../../img/broken-xp.png);
            background-size:cover;
        }
        .goldway-block {
            flex: 1 0 55%;
            background-image:url(../../img/broken-xp.png);
            background-size:cover;
        }

    }
}
